[submodule "themes/portfolio"]
	path = themes/portfolio
	url = git@github.com:kishaningithub/hugo-creative-portfolio-theme.git
[submodule "public"]
	path = public
	url = git@github.com:yaichi/yaichi.github.io.git
