<script src="{{.Site.Params.staticurl}}{{"js/jquery.min.js"}}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/bootstrap.min.js" }}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/jquery.cookie.js" }}"> </script>
<script src="{{.Site.Params.staticurl}}{{ "js/ekko-lightbox.js" }}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/jquery.scrollTo.min.js"  }}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/masonry.pkgd.min.js" }}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/imagesloaded.pkgd.min.js" }}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/owl.carousel.min.js" }}"></script>
<script src="{{.Site.Params.staticurl}}{{ "js/front.js" }}"></script>
